<header class="header">
  <div class="logo">
    <a (click)="goToHome()" class="title">
      Pointify
    </a>
  </div>
  <ng-container *ifAuthenticated="true">
    <nav class="navbar">
      <ul>
        <li><a (click)="goToCoupon()">쿠폰</a></li>
        <li><a (click)="goToCard()">카드</a></li>
      </ul>
    </nav>
  </ng-container>
  <div class="auth-buttons">
    <ng-container *ifAuthenticated="false">
      <a class="btn" (click)="goToLogin()">로그인</a>
      <a class="btn" (click)="goToSignup()">회원가입</a>
    </ng-container>

    <ng-container *ifAuthenticated="true">
      <span>{{ (currentUser$ | async)?.email }}</span>
      <a class="btn" (click)="logout()">로그아웃</a>
    </ng-container>
  </div>
</header>