<div class="container">
  <h1>쿠폰 수정</h1>
  <form (ngSubmit)="onSubmit()" #couponForm="ngForm">
    <div>
      <label for="name">이름</label>
      <input id="name" type="text" name="name" [(ngModel)]="coupon.name" required />
    </div>
    <div>
      <label for="barcode">바코드</label>
      <input id="barcode" type="text" name="barcode" [(ngModel)]="coupon.barcode"
        (ngModelChange)="generateBarcode(coupon.barcode)" required />

      <svg [class.hidden]="!coupon.barcode" #barcode></svg>
    </div>
    <div>
      <label for="memo">메모</label>
      <textarea id="memo" name="memo" [(ngModel)]="coupon.memo"></textarea>
    </div>

    <div class="button-group">
      <button type="button" class="cancel-btn" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> 취소
      </button>
      <button type="submit" [disabled]="couponForm.invalid">
        <i class="fas fa-check"></i> 완료
      </button>
    </div>
  </form>
</div>
