.coupon-detail-container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.coupon-detail-container h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.coupon-detail-container p {
    font-size: 16px;
    margin: 8px 0;
    color: #555;
}

.coupon-detail-container p strong {
    color: #333;
    font-weight: 600;
}

.coupon-detail-container svg {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coupon-detail-container .barcode {
    margin: 10px 0;
}

.coupon-detail-container p:not(:first-child) {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.coupon-detail-container .no-coupon {
    text-align: center;
    color: #888;
    font-style: italic;
    margin-top: 20px;
}