<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<header class="header">
  <div class="logo">
    <a (click)="goToHome()" class="title">Passify</a>
  </div>

  <!-- 메뉴 버튼 -->
  <div
    class="menu-toggle"
    (click)="toggleSidebar()"
    [ngClass]="{ open: menuClass === 'open' }"
  >
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>

<!-- 사이드바 -->
<div class="sidebar" [ngClass]="{ active: isSidebarActive }">
  <ul>
    <li><a (click)="goToHome()">홈</a></li>

    <ng-container *ifAuthenticated="true">
      <li><a (click)="goToCoupon()">쿠폰</a></li>
      <li><a (click)="goToCard()">카드</a></li>
      <li><a (click)="goToPoint()">포인트</a></li>
      <li><a (click)="goToMembership()">멤버십</a></li>
    </ng-container>
  </ul>

  <ul>
    <ng-container *ifAuthenticated="false">
      <li><a (click)="goToLogin()">로그인</a></li>
      <li><a (click)="goToSignup()">회원가입</a></li>
    </ng-container>

    <ng-container *ifAuthenticated="true">
      <li><a (click)="logout()">로그아웃</a></li>
    </ng-container>
  </ul>
</div>
