<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<app-error-popup [errorMessage]="errorMessage" (close)="closeErrorPopup()">
</app-error-popup>

<div class="container">
  <h1>멤버십 상세 정보</h1>
  <div *ngIf="membership">
    <button class="edit-membership-btn" (click)="goToEditPage()">
      <i class="fas fa-edit"></i> 수정
    </button>

    <h3>{{ membership.title?.name }}</h3>
    <p></p>
    <svg #barcode></svg>
    <p><strong>메모:</strong> {{ membership.memo }}</p>
    <p><strong>생성일:</strong> {{ membership.createdAt | date: 'yyyy-MM-dd' }}</p>
    <p><strong>수정일:</strong> {{ membership.updatedAt | date: 'yyyy-MM-dd' }}</p>
  </div>
  <div *ngIf="!membership">
    <p>멤버십 정보를 불러올 수 없습니다.</p>
  </div>
</div>